<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="width: 50%; margin: auto;" >
    <a class="button is-large is-primary" style="margin: auto;" href="/room">Создать комнату</a>
    <form class="box">
      <div class="field">
        <label class="label">Ключ</label>
        <div class="control">
          <input class="input" type="text" placeholder="XXXXXXXXXX">
        </div>
      </div>
      <button class="button is-primary">Зайти к друзьям</button>
    </form>
</div>
</body>
</html>