<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="UTF-8">
    <title>Игра</title>
</head>
<body style="height: 100%; padding: 20px">
<div class="box" style="margin:auto; height:80%; width:70%; overflow-y:auto; padding: 20px">
    <div class="box" style="width: 90%; margin:auto">
        <div class="content">
            <h4>Петя Иванов</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
        </div>
    </div>
</div>
<div style="margin:auto; width:70%; height:15%; margin-top: 20px">
    <div class="columns is-vcentered" style="height:100%">
        <div class = "column is-11">
            <input class="input" placeholder="введите действие...">
        </div>
        <div class="column">
            <a><img src="/static/paper-plane.png" height="100%"></a>
        </div>
    </div>
</div>
</body>
</html>