<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="UTF-8">
    <title>Ожидание игроков</title>
</head>
<body style="height: 100%">
<div class="columns" style="width: 95%; margin: auto; height: 95%">
    <div class="column is-5">
        <div class="box" style="width:100%; height: 80%; overflow-y:auto; padding: 15px">
            <div class = "box" style="width: 90%">
                <div class="columns is-vcentered" style="height: 15%">
                    <div class="column">
                        <label class="label">Петя Иванов</label>
                    </div>
                    <div class="column">
                        <a class="button is-danger">Не готов</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box" style="height: 15%; width: 100%">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <a class="button is-link" style="margin: auto">Ссылка на игру</a>
                </div>
                <div class="column is-half">
                    <a class="button is-success is-medium" style="margin: auto">Начать игру</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box" style="width:100%">
            <h1 class="title" style="margin: auto; width: 50%; margin-bottom: 20px">Персонаж</h1>
                <form style="width:80%; margin: auto; margin-top: 40px">
                    <div class="field is-horizontal">
                      <label class="label is-normal" style="margin-top: 8px; margin-right: 20px">Имя персонажа:</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Петя Иванов" name="key">
                      </div>
                    </div>
                    <div class="field">
                        <label class="label">Биография персонажа</label>
                        <div class="control">
                            <textarea class="textarea" name="intro" style="resize:none"></textarea>
                        </div>
                    </div>
                    <button class="button is-primary">Готов</button>
                </form>
        </div>
    </div>
</div>
</body>
</html>